*{
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;

}

.logo{
    display: flex;
    width: 132px;
    height: 40px;
    z-index: 1;
    position: relative;
    top: 13.5px;
    margin-left: 110px;
    
}

nav{
    height: 70px;
    background-color:rgba(0,0,0,.6);
    /* position: ; Arrumar depois */
    z-index:-1;
    width: 100%;
      
}

nav ul{
    display: flex;
    font-size: 15px;
    justify-content: flex-end;
    position: relative;
    bottom: 31px;
    margin-right: 10px;
    text-align: center;
    
}

.navneto{
    display: flex;

}

nav ul li{
    padding-left: 15px;
    margin-right: 20px;
    list-style-type: none;
    margin-top: 0;
    color: white;
    text-align: center;
    align-content: center;  

}

#separator{
    display: flex;
    position: relative;
    top: 10px;
    font-size: 15pt;
    font-weight: 1px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    position: relative;
    top: 15px;
    
}

h2{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    padding-top: 220px;
    color: white;
    margin-bottom: 10px;
}

h4{
    text-align: center;
    color: white;
    margin-bottom: 36px;
    font-size: 20px;
    font-weight: 400px;
}

.diferentao{
    display: flex;
    justify-content: center;
}

#buttonall{
    display: inline-flex;
    
    vertical-align: middle;
    border-radius: 500px;
    font-size: 14pt;
    color: white;
    width: 280px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    
}

.button1{
    background-color: #1db954;
    border: none;
    text-align: center;
    padding: 10px;
    margin-right: 20px;    
    width: 320x;
    text-decoration: none;
    text-transform: uppercase; /*Deixa todas as letras maiusculas*/
    
}

.button2{
    background-color: transparent; /* Deixa fundo transparente*/
    border: solid white 1px;
    width: 320px;
    text-align: center;    
    text-decoration: none;
    text-transform: uppercase;
      
}

body{
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    
}

